<div class="row">
    <div class="container col-10 g-3">
        <h3 class="mb-4">Lista prenotazioni:</h3>
        <div class="container d-flex flex-column gap-3">
            <!-- Errore strano -> potrebbe essere il track? -->
            @for (pren of prenotazioni; track $index) {
                <app-prenotazione [prenotazione]="pren" (deletePrenotazione)="onDeletePrenotazione($event)"></app-prenotazione>
            } @empty {
                <p class="text-body-tertiary">Non ci sono prenotazioni.</p>
            }
        </div>
    </div>
</div>